In [15]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [16]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
0,0,San Ramon,US,2022-11-25 03:42:06,37.7799,-121.9780,61.25,57,0,6.91,clear sky,0.0,0
1,1,Bonavista,CA,2022-11-25 03:46:27,48.6499,-53.1147,28.71,94,100,30.58,snow,0.0,0
2,2,Kahului,US,2022-11-25 03:46:28,20.8947,-156.4700,75.22,70,75,23.02,broken clouds,0.0,0
3,3,Beloha,MG,2022-11-25 03:46:29,-25.1667,45.0500,77.88,61,2,4.05,clear sky,0.0,0
4,4,Mount Gambier,AU,2022-11-25 03:46:29,-37.8333,140.7667,73.60,44,95,1.72,overcast clouds,0.0,0

In [17]:
#Get the data types
city_data_df.dtypes

City_ID                         int64
City                           object
Country                        object
Date                           object
Lat                           float64
Lng                           float64
Max Temp                      float64
Humidity                        int64
Cloudiness                      int64
Wind Speed                    float64
Current Description            object
Rain inches (last 3 hours)    float64
Snow inches (last 3 hours)      int64
dtype: object

In [18]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [24]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [25]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [30]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
2,2,Kahului,US,2022-11-25 03:46:28,20.8947,-156.4700,75.22,70,75,23.02,broken clouds,0.0,0
3,3,Beloha,MG,2022-11-25 03:46:29,-25.1667,45.0500,77.88,61,2,4.05,clear sky,0.0,0
7,7,Bengkulu,ID,2022-11-25 03:46:31,-3.8004,102.2655,77.32,89,97,8.46,light rain,0.0,0
8,8,Port-Gentil,GA,2022-11-25 03:46:31,-0.7193,8.7815,76.37,91,100,7.34,light rain,0.0,0
20,20,Lorengau,PG,2022-11-25 03:46:37,-2.0226,147.2712,85.89,64,53,6.67,broken clouds,0.0,0
28,28,Butaritari,KI,2022-11-25 03:46:40,3.0707,172.7902,80.28,77,100,7.81,overcast clouds,0.0,0
33,33,Vaini,TO,2022-11-25 03:46:43,-21.2000,-175.2000,84.36,74,75,4.61,broken clouds,0.0,0
36,36,Banda Aceh,ID,2022-11-25 03:46:44,5.5577,95.3222,85.39,63,94,13.82,overcast clouds,0.0,0
39,39,Bambous Virieux,MU,2022-11-25 03:46:45,-20.3428,57.7575,80.22,69,40,10.36,scattered clouds,0.0,0
41,41,Yulara,AU,2022-11-25 03:46:46,-25.2406,130.9889,81.16,45,100,20.15,overcast clouds,0.0,0

In [31]:
preferred_cities_df.count()

City_ID                       134
City                          134
Country                       134
Date                          134
Lat                           134
Lng                           134
Max Temp                      134
Humidity                      134
Cloudiness                    134
Wind Speed                    134
Current Description           134
Rain inches (last 3 hours)    134
Snow inches (last 3 hours)    134
dtype: int64

In [32]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2           Kahului      US     75.22  20.8947 -156.4700
3            Beloha      MG     77.88 -25.1667   45.0500
7          Bengkulu      ID     77.32  -3.8004  102.2655
8       Port-Gentil      GA     76.37  -0.7193    8.7815
20         Lorengau      PG     85.89  -2.0226  147.2712
28       Butaritari      KI     80.28   3.0707  172.7902
33            Vaini      TO     84.36 -21.2000 -175.2000
36       Banda Aceh      ID     85.39   5.5577   95.3222
39  Bambous Virieux      MU     80.22 -20.3428   57.7575
41           Yulara      AU     81.16 -25.2406  130.9889

In [33]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location": ""
}

In [34]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Kahului,US,75.22,20.8947,-156.4700,Maui Seaside Hotel
3,Beloha,MG,77.88,-25.1667,45.0500,
7,Bengkulu,ID,77.32,-3.8004,102.2655,Grage Hotel Bengkulu
8,Port-Gentil,GA,76.37,-0.7193,8.7815,Fengshui Residence
20,Lorengau,PG,85.89,-2.0226,147.2712,Lorengau Harbourside Hotel
...,...,...,...,...,...,...
542,Luanda,AO,78.80,-8.8368,13.2343,EPIC SANA Luanda
543,Noumea,NC,78.78,-22.2763,166.4572,Hôtel Le Lagon
544,Gigmoto,PH,84.43,13.7796,124.3900,Cj's Travellers Inn
545,Kibungan,PH,80.28,16.6950,120.6553,PCML
555,Maragogi,BR,76.60,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort

In [36]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
info_box_template = """

Hotel Name
{Hotel Name}

City
{City}
Country
{Country}
Max Temp
{Max Temp} °F


"""

In [38]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))